html {
  background-color: #c9b5ab;
  font-family: 'PT Serif', serif;
  font-size: 0.8rem;
  line-height: 1.5;
}

img {
  width: 50%;
}

h1 {
  color: #3f1622;
  font-family: 'PT Sans', sans-serif;
  font-style: bold;
  font-size: 1.125rem;
}

figcaption {
  font-size: .8rem;
  font-style: italic;
  text-align: center;
}

nav {
  font-size: 1.125rem;
  font-weight: bold;
  font-family: "Patua One", sans-serif;
}

nav ol {
  list-style-type: none;
}

nav a {
  color: #793284;
  text-decoration: none;
}

nav a:hover {
  color: #b42885;
  text-decoration: underline;
}

.intro {
  font-size: 1rem;
}

nav, h1, h2 {
  font-family: "Patua One", sans-serif;
}
