html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  line-height: 1.125;
  color: #222;
  font-weight: normal;
}

img {
  width: 100%;
  text-align: center;
}

h1,
h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.nurv {
  color: #8f2440;
  font-size: 1.125rem;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  list-style-type: none;
  text-decoration: none;
}

figcaption {
  font-size: 1.125rem;
  font-family: "PT Serif", serif;
  font-style: italic;
  text-align: center;
}

.info {
  font-weight: bold;
  font-size: 1.125rem;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  font-weight: normal;
}

.chris {
  font-size: .8rem;
  font-style: italic;
}

.greek {
  list-style-type:lower-greek;
}

h2 p {
  font-style: italic;
}

dl dt {
  font-weight: bold;
}

ul {
  font-size: .8rem;
}

footer {
  font-size: .8rem;
}

nav a:hover {
  color: #3f1622;
  text-decoration: underline;
}

a:link {
  color: #8f2440;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}
